<a href="https://colab.research.google.com/github/divinadira/Case-Study-3-Data-Mining_Association-Rules_Group-H/blob/main/Case-Study-3_Group-H_Association-Rule.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Group H**

1.	Divina Fatriandira (1906299465)
2.	Eslim Suyangsu Rohmanullah (1906299471)
3.	Muhammad Fabian Alkautsar (2006482653)
4.	M. Dzaky Jaya (1806193640)
5.	Rosyda Hanavania (1906299566)
6.	Timothy Devan Chandra (1906375726)
7.	Zalfa Nurfadhilah Haris (1906375726)

# Kasus

* AlfaIndo adalah sebuah toko waralaba yang memiliki beberapa cabang di kota-kota besar di Indonesia seperti Jakarta, Depok, Surabaya, dan Medan.
* Kami adalah seorang Data Analyst yang bekerja di kantor pusat AlfaIndo di Jakarta.
* Pasca masa pandemi **Toko AlfaIndo cabang UI Depok mengalami penurunan laba yang signifikan**.
* Kami ditugaskan oleh pimpinan untuk membantu toko AlfaIndo cabang UI Depok untuk bangkit dari keterpurukannya.

# Tujuan

Membuat rekomendasi dari data transaksi agar membantu toko AlfaIndo cabang UI Depok untuk bangkit dari penurunan laba

# Modul dan Packages yang Digunakan

In [46]:
# IMPORT MODULE
try:
    import google.colab as gc_
    print("Running the code in Google Colab.", gc_) #IN_COLAB = True
    print("Installing required Module, please wait ... ")
    !pip install mlxtend 
    !pip install pycaret
except:
    print("Running the code locally, make sure to install required modules.")

Running the code in Google Colab. <module 'google.colab' from '/usr/local/lib/python3.7/dist-packages/google/colab/__init__.py'>
Installing required Module, please wait ...
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.5.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pycaret in /usr/local/lib/python3.7/dist-packages (2.3.10)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.2.0)
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.4.0)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.3.8)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.8.2.2)
Requirement already satisfied: numba<0.55 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.54.1)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.7.1)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.12.2)
Requirement already satisfied: imbalanced-learn==0.7.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.7.0)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.4)
Requirement already satisfied: mlflow in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.30.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: mlxtend>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.19.0)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: Boruta in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.23.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.7)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.3.3)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.9.0)
Requirement already satisfied: pyyaml<6.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.4.1)
Requirement already satisfied: pyod in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.0.5)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.2)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.5.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn==0.7.0->pycaret) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.2->pycaret) (3.1.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.18.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.0.10)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.0.3)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.3.4)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->IPython->pycaret) (0.8.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.37.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->pycaret) (4.1.1)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /usr/local/lib/python3.7/dist-packages (from numba<0.55->pycaret) (0.37.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pycaret) (2022.4)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.64.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.13.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.2)
Requirement already satisfied: missingno<0.6,>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.5)
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.28.1)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.9.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.9)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (22.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (0.2.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Requirement already satisfied: imagehash in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (4.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3.2,>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (8.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.1.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.8)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.10.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.9)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.2)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.6)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.7.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.7)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.9.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling>=2.8.0->pycaret) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling>=2.8.0->pycaret) (21.3)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.5.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.7.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (4.11.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (23.2.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.13.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (1.3.0)
Requirement already satisfied: importlib-metadata!=4.7.0,<6,>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (4.13.0)
Requirement already satisfied: Flask<3 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: gunicorn<21 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.17.3)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: querystring-parser<2 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: prometheus-flask-exporter<1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.20.3)
Requirement already satisfied: alembic<2 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.8.1)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.3)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.41)
Requirement already satisfied: docker<7,>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (6.0.0)
Requirement already satisfied: gitpython<4,>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.1.29)
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.5.0)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.17.3)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic<2->mlflow->pycaret) (1.2.3)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic<2->mlflow->pycaret) (5.10.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (0.8.10)
Requirement already satisfied: pyjwt>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (2.6.0)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (3.2.1)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from docker<7,>=4.0.0->mlflow->pycaret) (1.4.1)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask<3->mlflow->pycaret) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask<3->mlflow->pycaret) (1.1.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython<4,>=2.1.0->mlflow->pycaret) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow->pycaret) (5.0.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter<1->mlflow->pycaret) (0.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy<2,>=1.4.0->mlflow->pycaret) (1.1.3.post0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.5.0)

In [47]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns
from itertools import combinations
from collections import Counter
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from pycaret.arules import *

%matplotlib inline
plt.style.use('bmh'); sns.set()

# Penginputan Data
Data transaksi yang diberikan adalah dalam format excel. Kami mengubah format file tersebut menjadi csv karena scalability dari format csv lebih luas dibandingkan dengan format excel.

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/divinadira/Case-Study-3-Data-Mining_Association-Rules_Group-H/main/Kasus-AR-MBA-Ganjil-2022.csv', sep=";")

**Catatan**
Data transaksi yang diberikan telah kami rapikan menjadi transaksi peritem (satu baris terdiri dari pembelian satu merek produk), tanpa indexing. Hal ini kami lakukan untuk mempermudah proses Data Cleansing.

Selain itu, kami membagi dan memisahkan data `Tanggal` menjadi variabel `Tanggal` dan `Hari`. Hal ini dilakukan agar kami bisa menganalisis data berdasarkan hari terjadinya transaksi

# ***PREPROCESSING DATA***

## Informasi Data

In [49]:
# Cuplikan data teratas
df.head()

,ID Transaksi,Tanggal,Hari,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
0,1,01/07/2022,Friday,Mr. A,1,Roti,Sri Roti,2
1,1,01/07/2022,Friday,Mr. A,2,Air Minum,Aquos,1
2,1,01/07/2022,Friday,Mr. A,11,Mie Instan,Indomi,2
3,1,01/07/2022,Friday,Mr. A,12,Mie Instan,Mi Sedap,1
4,2,01/07/2022,Friday,Mr. B,2,Air Minum,Aquos,1

In [50]:
# Cuplikan data terbawah
df.tail()

,ID Transaksi,Tanggal,Hari,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
51,17,05/09/2022,Monday,Mr. X,2,Air Minum,Aquos,1
52,17,05/09/2022,Monday,Mr. X,4,Sabun,Lifboy,1
53,17,05/09/2022,Monday,Mr. X,6,Snack,Chiki,2
54,18,02/10/2022,Sunday,Mr. B,1,Roti,Sri Roti,2
55,18,02/10/2022,Sunday,Mr. B,10,Air Minum,Sprit,2

In [51]:
# Informasi data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  56 non-null     int64
 1   Tanggal       56 non-null     object
 2   Hari          56 non-null     object
 3   Konsumen      56 non-null     object
 4   ID Produk     56 non-null     int64
 5   Nama Produk   56 non-null     object
 6   Merek         56 non-null     object
 7   Jumlah        56 non-null     int64
dtypes: int64(3), object(5)
memory usage: 3.6+ KB

In [52]:
df.shape

(56, 8)

**Catatan**

Data terdiri dari 56 baris dan 8 kolom. Hal yang kami dapatkan dari hasil analisis awal di atas adalah:
* `ID Transaksi` memiliki tipe *int_64*, tipe data ini sudah sesuai dengan yang seharusnya
* `Tanggal` memiliki tipe *object*, data ini seharusnya bertipe *datetime64*
* `Hari` memiliki tipe *object*, data ini seharusnya bertipe *category*
* `Konsumen` memiliki tipe *object*, data ini seharusnya bertipe *category*
* `ID Produk` memiliki tipe *int_64*, tipe data ini sudah sesuai dengan yang seharusnya
* `Nama Produk` memiliki tipe *object*, data ini seharusnya bertipe *category*
* `Merek` memiliki tipe *object*, data ini seharusnya bertipe *category*
* `Jumlah` memiliki tipe *int_64*, tipe data ini sudah sesuai dengan yang seharusnya

In [53]:
df['Tanggal'] = df['Tanggal'].astype('datetime64')
df['Hari'] = df['Hari'].astype('category')
df['Konsumen'] = df['Konsumen'].astype('category')
df['Nama Produk'] = df['Nama Produk'].astype('category')
df['Merek'] = df['Merek'].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  56 non-null     int64
 1   Tanggal       56 non-null     datetime64[ns]
 2   Hari          56 non-null     category
 3   Konsumen      56 non-null     category
 4   ID Produk     56 non-null     int64
 5   Nama Produk   56 non-null     category
 6   Merek         56 non-null     category
 7   Jumlah        56 non-null     int64
dtypes: category(4), datetime64[ns](1), int64(3)
memory usage: 3.6 KB

In [54]:
print(df.isnull().sum())

ID Transaksi    0
Tanggal         0
Hari            0
Konsumen        0
ID Produk       0
Nama Produk     0
Merek           0
Jumlah          0
dtype: int64

**Catatan**

Tidak terdapat Missing Value dalam data

In [55]:
df.describe(include = 'all').transpose()

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
ID Transaksi,56.0,NaN,NaN,NaN,NaT,NaT,8.660714,5.085726,1.0,4.0,9.0,12.25,18.0
Tanggal,56,11,2022-05-07 00:00:00,9,2022-01-07,2022-08-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hari,56,7,Monday,10,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konsumen,56,12,Mr. B,15,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID Produk,56.0,NaN,NaN,NaN,NaT,NaT,6.25,3.475891,1.0,3.75,6.0,9.25,12.0
Nama Produk,56,7,Air Minum,11,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Merek,56,12,Chiki,7,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jumlah,56.0,NaN,NaN,NaN,NaT,NaT,1.5,0.572078,1.0,1.0,1.0,2.0,3.0

**Catatan**

Dari hasil Deskriptif Data dan analisis kami, kami mendapat beberapa informasi berikut:
* Data yang diberikan sudah cukup rapi. Tidak ditemukan data Noise yang merupakan data tidak valid.
* `Tanggal` memiliki unique value 11. Hal ini sesuai dengan data yang ada, yaitu hanya mencatat transaksi dari 11 hari penjualan.
  
  Info tambahan: Tanggal paling banyak terjadi transaksi adalah tanggal 5 Juli 2022.
* `Hari` memiliki unique value 7. Hal ini sesuai dengan Data Understanding, yaitu hari dalam seminggu maksimal ada 7. Value untuk variabel ini akan dikeluarkan hasilnya pada tahap selanjutnya.

  Info tambahan: Hari yang paling sering terdapat transaksi adalah hari Senin

* `Konsumen` memiliki unique value 12. Hal ini sesuai dengan Data yang memunjukkan ada 12 konsumen yang transaksinya tercatat dalam data. Value untuk variabel ini akan dikeluarkan hasilnya pada tahap selanjutnya.
  
  Info tambahan: Konsumen yang paling sering melakukan transaksi adalah Mr. B

* `Nama Produk` memiliki unique value 7. Hal ini sesuai dengan Data Understanding yang memunjukkan terdapat 7 Nama Produk dalam Toko AlfaIndo. Value untuk variabel ini akan dikeluarkan hasilnya pada tahap selanjutnya.

* `Merek` memiliki unique value 12. Hal ini sesuai dengan Data Understanding yang memunjukkan terdapat 12 Merek dalam Toko AlfaIndo. Value untuk variabel ini akan dikeluarkan hasilnya pada tahap selanjutnya.

In [56]:
# Value dari variabel Hari
df['Hari'].dtypes

CategoricalDtype(categories=['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday',
                  'Tuesday', 'Wednesday'],
, ordered=False)

In [57]:
# Value dari variabel Konsumen
df['Konsumen'].dtypes

CategoricalDtype(categories=['Mr. A', 'Mr. B', 'Mr. C', 'Mr. D', 'Mr. F', 'Mr. G',
                  'Mr. J', 'Mr. P', 'Mr. T', 'Mr. X', 'Mr. Z', 'Mr.Y'],
, ordered=False)

In [58]:
# Value dari variabel Nama Produk
df['Nama Produk'].dtypes

CategoricalDtype(categories=['Air Minum', 'Mie Instan', 'Rokok', 'Roti', 'Sabun',
                  'Shampoo', 'Snack'],
, ordered=False)

In [59]:
# Value dari variabel Merek
df['Merek'].dtypes

CategoricalDtype(categories=['Aquos', 'Chiki', 'Citata', 'Clean', 'Indomi', 'Lifboy',
                  'Luks', 'Malioboro', 'Mi Sedap', 'Prambanan', 'Sprit',
                  'Sri Roti'],
, ordered=False)

# ***EXPLORATORY DATA ANALYSIS***

Kami akan melakukan EDA dengan Visualisasi Data yang kami bagi berdasarkan variabel-variabel

## Total Penjualan berdasarkan Tanggal
![picture](https://drive.google.com/uc?export=view&id=1mjYSxMWtwbytAJswL9ZQjcIYRtHxB7yh)

Dari grafik terlihat bahwa ternyata terdapat data transaksi yang tidak lengkap sejak 9 Juli 2015. Maka, kami mengasumsikan bahwa sejak tanggal 9 Juli 2015 toko AlfaIndo tidak ada transaksi hingga 1 Agustus 2015. Kemudian, untuk bulan Agustus, September, dan Oktober transaksi hanya terjadi 1 hari dalam sebulan, yaitu pada tanggal 2 Agustus, 5 September, dan 2 Oktober.

In [60]:
df.tail(8)

,ID Transaksi,Tanggal,Hari,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
48,15,2022-08-07,Friday,Mr. F,9,Rokok,Malioboro,1
49,16,2022-02-08,Tuesday,Mr. J,2,Air Minum,Aquos,2
50,17,2022-05-09,Monday,Mr. X,1,Roti,Sri Roti,2
51,17,2022-05-09,Monday,Mr. X,2,Air Minum,Aquos,1
52,17,2022-05-09,Monday,Mr. X,4,Sabun,Lifboy,1
53,17,2022-05-09,Monday,Mr. X,6,Snack,Chiki,2
54,18,2022-02-10,Sunday,Mr. B,1,Roti,Sri Roti,2
55,18,2022-02-10,Sunday,Mr. B,10,Air Minum,Sprit,2

Pada tanggal 2 Agustus 2015 terlihat pada data bahwa terdapat pelanggan baru yaitu Mr. J yang melakukan transaksi, tetapi tidak melakukan transaksi kedua. Kemudian, pada tanggal 5 September 2015 dan 2 Oktober 2015 Mr. X dan Mr. B yang merupakan pelanggan lama, melakukan transaksi kembali di AlfaIndo. 

Kami merekomendasikan Toko AlfaIndo cabang UI Depok melakukan promosi untuk transaksi kedua. Hal ini dilakukan agar pelanggan baru, misalnya Mr. J, dapat terus melakukan transaksi selanjutnya, bukan hanya satu kali transaksi di Toko AlfaIndo.

## Total Penjualan berdasarkan Hari

![picture](https://drive.google.com/uc?export=view&id=1_IowalqB7BAp0haVNtj_bm9rqOrZfVD8)

Dapat dilihat pada grafik bahwa penjualan terbanyak terdapat pada hari Selasa. Sedangkan, untuk penjualan paling sedikit terdapat pada hari Rabu dan Kamis. Dari hal tersebut, kami dapat menyarankan kepada Alfaindo untuk memberlakukan promo yang lebih banyak pada hari Rabu dan Kamis. Rekomendasi lain adalah menambah stok lebih pada hari Selasa, sehingga penjualan tetap banyak pada hari tersebut

## Total Penjualan berdasarkan Nama Produk

![picture](https://drive.google.com/uc?export=view&id=1bm7iJmql64OL5L0V-wI9wG8FtbT5NuIb)

Pada grafik di atas dapat dilihat bahwa jenis produk Air Minum, Roti, dan Snack memiliki jumlah penjualan paling banyak diantara produk yang lain. Sedangkan, jumlah penjualan paling sedikit ada pada jenis produk Rokok. Untuk itu, kami menyarankan agar Alfaindo memperbanyak variasi dan stock produk Air Minum, Roti, dan Snack.

Selanjutnya akan divisualisasikan penjualan untuk setiap Merek pada nama produk. Visualisasi untuk produk Rokok dan Shampoo tidak ditampilkan karena hanya memiliki 1 merek.

## Penjualan Air Minum

![picture](https://drive.google.com/uc?export=view&id=1n27jHctQu6eczLXfWwrNYhZH5C3Z8Fj5)

Dari grafik di atas, dapat dilihat bahwa dari 2 merek Air Minum yang dijual Alfaindo, produk yang paling laku terjual adalah merek Sprit. Dari hal tersebut, kami menyarankan agar Alfaindo memperbanyak variasi/stock Air Minum Sprit dan memperbanyak promo untuk produk Air Minum Aquos.

## Penjualan Mie Instan
![picture](https://drive.google.com/uc?export=view&id=18mATDr54258UcITZGLwPKcW8EWT4AmPA)

Dari grafik di atas, dapat dilihat bahwa dari 2 merek Mie Instan yang dijual Alfaindo, produk yang paling laku terjual adalah merek Indomi. Dari hal tersebut, kami menyarankan agar Alfaindo memperbanyak variasi/stock Mie Instan Indomi dan memperbanyak promo untuk produk Mie Instan Mi Sedap.

## Penjualan Roti
![picture](https://drive.google.com/uc?export=view&id=1fHDXoz7WYoRVidVusBmnqZWb4d36S_3L)

Dari grafik di atas, dapat dilihat bahwa dari 2 merek Roti yang dijual Alfaindo, produk yang paling laku terjual adalah merek Sri Roti. Dari hal tersebut, kami menyarankan agar Alfaindo memperbanyak variasi/stock Roti Sri Roti dan memperbanyak promo untuk produk Roti Prambanan.

## Penjualan Sabun
![picture](https://drive.google.com/uc?export=view&id=115I2HVKHJBauNOCsDDpM8Y0McLNQkwF2)

Dari grafik di atas, dapat dilihat bahwa dari 2 merek Sabun yang dijual Alfaindo, produk yang paling laku terjual adalah merek Lifboy. Dari hal tersebut, kami menyarankan agar Alfaindo memperbanyak variasi/stock Sabun Lifboy dan memperbanyak promo untuk produk Sabun Luks.

## Penjualan Snack
![picture](https://drive.google.com/uc?export=view&id=1jcHPNudqUX4X41rbhQZ7BoVhJxOXfolb)

Dari grafik di atas, dapat dilihat bahwa dari 2 merek Snack yang dijual Alfaindo, produk yang paling laku terjual adalah merek Chiki. Dari hal tersebut, kami menyarankan agar Alfaindo memperbanyak variasi/stock Snack Chiki dan memperbanyak promo untuk produk Snack Citata.

# ***MARKET BASKET ANALYSIS***

## Mengubah format data

Pengubahan format data dilakukan untuk menyamakan dengan format yang dapat diterima module MLXTend

In [61]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd, numpy as np

'Done'

'Done'

In [62]:
# Memberikan Index Data
index_transaksi = df["ID Transaksi"]
index_idproduk = df["ID Produk"]

df = df.set_index([index_transaksi,index_idproduk])
df["Jumlah"]

ID Transaksi  ID Produk
1             1            2
              2            1
              11           2
              12           1
2             2            1
              6            2
              3            1
              5            1
3             4            1
              5            1
              9            1
4             1            2
              10           2
              8            3
              7            1
              12           2
5             6            1
              10           2
6             11           2
              4            1
              5            1
7             10           1
              9            1
8             6            1
              7            1
              5            1
              11           3
9             1            2
              2            1
              4            1
              6            2
              9            1
              11           2
10            3            1
              10           2
              6            2
11            3            2
              9            1
12            4            2
              5            1
              12           2
              11           1
13            1            1
              8            2
              10           1
14            7            2
              5            2
              6            1
15            9            1
16            2            2
17            1            2
              2            1
              4            1
              6            2
18            1            2
              10           2
Name: Jumlah, dtype: int64

**Catatan**

Diberikan indexing pada `ID Transaksi` dan `ID Produk`. Hasil dari indexing ini kami dapat melihat jumlah transaksi yang terjadi per ID Transaksi dan per ID Produk

In [63]:
# Kami akan mengambil beberapa kolom saja untuk dapat diposes dalam Market Basket Analysis
# Ini akan melihat persebaran produk yang akan dijual 

df["Jumlah"].unstack()
df2 = df["Jumlah"].unstack()
df2

ID Produk      1    2    3    4    5    6    7    8    9    10   11   12
ID Transaksi
1             2.0  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0  1.0
2             NaN  1.0  1.0  NaN  1.0  2.0  NaN  NaN  NaN  NaN  NaN  NaN
3             NaN  NaN  NaN  1.0  1.0  NaN  NaN  NaN  1.0  NaN  NaN  NaN
4             2.0  NaN  NaN  NaN  NaN  NaN  1.0  3.0  NaN  2.0  NaN  2.0
5             NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN  2.0  NaN  NaN
6             NaN  NaN  NaN  1.0  1.0  NaN  NaN  NaN  NaN  NaN  2.0  NaN
7             NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  NaN  NaN
8             NaN  NaN  NaN  NaN  1.0  1.0  1.0  NaN  NaN  NaN  3.0  NaN
9             2.0  1.0  NaN  1.0  NaN  2.0  NaN  NaN  1.0  NaN  2.0  NaN
10            NaN  NaN  1.0  NaN  NaN  2.0  NaN  NaN  NaN  2.0  NaN  NaN
11            NaN  NaN  2.0  NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN
12            NaN  NaN  NaN  2.0  1.0  NaN  NaN  NaN  NaN  NaN  1.0  2.0
13            1.0  NaN  NaN  NaN  NaN  NaN  NaN  2.0  NaN  1.0  NaN  NaN
14            NaN  NaN  NaN  NaN  2.0  1.0  2.0  NaN  NaN  NaN  NaN  NaN
15            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN
16            NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17            2.0  1.0  NaN  1.0  NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN
18            2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0  NaN  NaN

In [64]:
#Akan replace NaN

import numpy as np
df2.replace(np.NaN, 0,inplace = True)
df2 = df2.astype("int32")
df2

ID Produk     1   2   3   4   5   6   7   8   9   10  11  12
ID Transaksi
1              2   1   0   0   0   0   0   0   0   0   2   1
2              0   1   1   0   1   2   0   0   0   0   0   0
3              0   0   0   1   1   0   0   0   1   0   0   0
4              2   0   0   0   0   0   1   3   0   2   0   2
5              0   0   0   0   0   1   0   0   0   2   0   0
6              0   0   0   1   1   0   0   0   0   0   2   0
7              0   0   0   0   0   0   0   0   1   1   0   0
8              0   0   0   0   1   1   1   0   0   0   3   0
9              2   1   0   1   0   2   0   0   1   0   2   0
10             0   0   1   0   0   2   0   0   0   2   0   0
11             0   0   2   0   0   0   0   0   1   0   0   0
12             0   0   0   2   1   0   0   0   0   0   1   2
13             1   0   0   0   0   0   0   2   0   1   0   0
14             0   0   0   0   2   1   2   0   0   0   0   0
15             0   0   0   0   0   0   0   0   1   0   0   0
16             0   2   0   0   0   0   0   0   0   0   0   0
17             2   1   0   1   0   2   0   0   0   0   0   0
18             2   0   0   0   0   0   0   0   0   2   0   0

**Catatan**

Format data telah diubah ke dalam bentuk Matriks Sparse yang dapat diterima oleh modul MLXTend.

Index yang terbentuk adalah `ID Transaksi` dan kolom yang terbentuk adalah `ID Produk`. Isi dari matriksnya adalah jumlah transaksi yang terjadi

In [65]:
#Rename ID Product dengan merk
df2.rename(columns = {1 : "Sri Roti",
2 : "Aquos",
3 : "Prambanan",
4 : "Lifboy",
5 : "Clean",
6 : "Chiki",
7 : "Luks",
8 : "Citata",
9 : "Malioboro",
10 : "Sprit",
11 : "Indomi",
12 :"Mi Sedap"},inplace = True)

In [66]:
df2.replace({2 : 1,
3 : 1}, inplace = True)

**Catatan**

Telah dilakukan pengubahan isi value dengan 0 dan 1. Hal ini dilakukan agar matriks dapat diolah dengan MLXTend

## Penggunaan MLXTend

### Menemukan Itemsets yang Paling Sering Dibeli

In [67]:
frequent_itemsets = apriori(df2, min_support=0.07, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False, na_position='last', inplace = True)
frequent_itemsets

     support                          itemsets
5   0.388889                           (Chiki)
0   0.333333                        (Sri Roti)
4   0.333333                           (Clean)
9   0.333333                           (Sprit)
3   0.277778                          (Lifboy)
8   0.277778                       (Malioboro)
10  0.277778                          (Indomi)
1   0.277778                           (Aquos)
16  0.166667                 (Sprit, Sri Roti)
27  0.166667                    (Chiki, Clean)
26  0.166667                  (Indomi, Lifboy)
23  0.166667                   (Lifboy, Clean)
20  0.166667                    (Chiki, Aquos)
29  0.166667                   (Indomi, Clean)
12  0.166667                 (Aquos, Sri Roti)
11  0.166667                        (Mi Sedap)
6   0.166667                            (Luks)
2   0.166667                       (Prambanan)
40  0.111111            (Chiki, Aquos, Lifboy)
31  0.111111                    (Chiki, Sprit)
41  0.111111           (Indomi, Lifboy, Clean)
38  0.111111         (Chiki, Lifboy, Sri Roti)
37  0.111111         (Indomi, Aquos, Sri Roti)
36  0.111111          (Chiki, Aquos, Sri Roti)
35  0.111111         (Aquos, Lifboy, Sri Roti)
42  0.111111              (Chiki, Luks, Clean)
34  0.111111                (Indomi, Mi Sedap)
33  0.111111                   (Citata, Sprit)
32  0.111111                   (Indomi, Chiki)
39  0.111111         (Sprit, Citata, Sri Roti)
22  0.111111                (Chiki, Prambanan)
30  0.111111                     (Chiki, Luks)
28  0.111111                     (Luks, Clean)
25  0.111111               (Malioboro, Lifboy)
24  0.111111                   (Chiki, Lifboy)
21  0.111111                   (Indomi, Aquos)
19  0.111111                   (Aquos, Lifboy)
18  0.111111              (Mi Sedap, Sri Roti)
17  0.111111                (Indomi, Sri Roti)
15  0.111111                (Citata, Sri Roti)
14  0.111111                 (Chiki, Sri Roti)
13  0.111111                (Lifboy, Sri Roti)
7   0.111111                          (Citata)
43  0.111111  (Chiki, Aquos, Lifboy, Sri Roti)

**Catatan**

Dari hasil di atas, terlihat bahwa penjualan paling terdapat pada produk Chiki, kemudian disusul Sri Roti dan Clean. Sementara penjualan yang paling rendah terdapat pada produk Citata

### Menemukan Association Rules dari Data

In [68]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.sort_values(by='lift', ascending=False, na_position='last', inplace = True)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
97,"(Aquos, Lifboy)","(Chiki, Sri Roti)",0.111111,0.111111,0.111111,1.000000,9.0,0.098765,inf
96,"(Chiki, Sri Roti)","(Aquos, Lifboy)",0.111111,0.111111,0.111111,1.000000,9.0,0.098765,inf
95,"(Chiki, Lifboy)","(Aquos, Sri Roti)",0.111111,0.166667,0.111111,1.000000,6.0,0.092593,inf
63,"(Sri Roti, Sprit)",(Citata),0.166667,0.111111,0.111111,0.666667,6.0,0.092593,2.666667
66,(Citata),"(Sri Roti, Sprit)",0.111111,0.166667,0.111111,1.000000,6.0,0.092593,inf
99,"(Lifboy, Sri Roti)","(Chiki, Aquos)",0.111111,0.166667,0.111111,1.000000,6.0,0.092593,inf
98,"(Aquos, Sri Roti)","(Chiki, Lifboy)",0.166667,0.111111,0.111111,0.666667,6.0,0.092593,2.666667
94,"(Chiki, Aquos)","(Lifboy, Sri Roti)",0.166667,0.111111,0.111111,0.666667,6.0,0.092593,2.666667
51,"(Chiki, Clean)",(Luks),0.166667,0.166667,0.111111,0.666667,4.0,0.083333,2.500000
54,(Luks),"(Chiki, Clean)",0.166667,0.166667,0.111111,0.666667,4.0,0.083333,2.500000

In [69]:
rules.tail(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
88,(Lifboy),(Sri Roti),0.277778,0.333333,0.111111,0.400000,1.200000,0.018519,1.111111
77,(Lifboy),(Chiki),0.277778,0.388889,0.111111,0.400000,1.028571,0.003086,1.018519
60,(Indomi),(Chiki),0.277778,0.388889,0.111111,0.400000,1.028571,0.003086,1.018519
61,(Chiki),(Indomi),0.388889,0.277778,0.111111,0.285714,1.028571,0.003086,1.011111
76,(Chiki),(Lifboy),0.388889,0.277778,0.111111,0.285714,1.028571,0.003086,1.011111

**Catatan**

Hasil Rule yang didapat dari data yang akan kami fokuskan antara lain:
* Lifboy & Aquos => Sri Roti & Chiki
* Sprit & Sri Roti => Citata

# ***PENUTUP***

## Rekomendasi untuk Toko AlfaIndo Cabang UI Depok

Terlihat hasil output di atas bahwa terdapat lift tertinggi untuk setiap pembelian Lifboy dan Aquos, pelanggan juga membeli Sri Roti dan Chiki. Selain itu, untuk pembelian Sprit dan Sri Roti, pelanggan juga membeli Citata.


Maka dari itu kami menyarankan untuk membuat promosi paket "Travel Pack" untuk pembelian Sprit, Sri Roti, dan Citata dengan tambahan Aquos dengan tujuan cross selling agar penjualan Aquos meningkat (berdasarkan nilai support yang rendah). Kemudian kami juga menyarankan untuk produk Sri Roti dan Lifboy untuk di jauhkan penempatannya (dengan asumsi toko berukuran kecil) agar pelanggan dapat melihat-lihat produk yang lainnya sehingga menaikkan penjualan.

Rekomendasi lainnya adalah menurunkan harga Sprit & Sri Roti. Hal ini dilakukan agar penjualan Citata akan naik karena berdasarkan Rules dikatakan bahwa Sprit & Sri Roti => Citata